:root {
    --white-color: #fff ;
    --black-color: #000;
    --text-color: #333;
    --boder-color:#d1c5c5;
    --star-gold-color: #FFCE3E;
    /* --primary-color: #f55f41; */
    --primary-color: #fd4231;
    /* --primary-color: #33bef5; */
}

*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Grid */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-with{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Container */


/* App container */
.app__container{
    background-color:  #f5f5f5;
    margin: 40px 0 0 170px;
    
}
.app__content{
    padding-top: 36px;
    /* Category */
}
.category{
    background-color: var(--white-color);
    border-radius: 2px  ;
}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0, 0.05);
    text-transform: uppercase;
} 
.category__heading-icon{
font-size: 1.4rem;
margin-right: 4px;
position: relative;
top: -1px;
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}


.category-list{
    padding:0 0 8px 0;
    list-style: none;
    
}

.category-item--active .category-item-link{
    color: var(--primary-color);

}

.category-item-link{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 9px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;

}
.category-item-link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* Btn */

 .btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    outline: 0;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem; 
} 
.btn.btn--normal:hover{
    background-color: rgba(0,0,0, 0.05);
}

.btn--primary{
    background-color: #ED4329;
    color: var(--white-color);
    

}
/* Home sort + filter */
.home-filter {
    background-color: rgba(0,0,0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
  
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto ;
}
.home-filter__label{
    font-size: 1.4 rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-left: 12px;
}
.home-filter__page-num{
    font-size: 1.5rem ;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-curent{
    color: var(--primary-color);
}
.home-filter__page-control{
    overflow: hidden;
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 36px;

}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none   ;
}
.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #EEE ;

}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__current{
    color:var(--primary-color) ;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgba(131, 131, 131,);
    
    position: relative;
    top: 1px;
}
.select-input:hover .select-input__list{
    display: block;

}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}

/* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;

}
.pagination-item--active  {
    color: var(--white-color);
    background-color: var(--primary-color);
    
}
.pagination-item--active  :hover{
    background-color: #ed5e3f;
}

.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}

/* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

@keyframes growth{
    from{
        transform: scale(var(--growth-form));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.2s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);  
}

.modal__body{  
    --growth-form: 0.6;
    --growth-to: 1;
    background: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 100;
    border-radius: 10px;
    animation: growth linear 0.2s;
}