*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: relative;
}

.sub-logo{
    height: 120px;
}

.sub-logo-img{
    height: 100px;
    margin: 15px 20px;
}

.header-right{
    position: absolute;
    top: 0;
    right: 0;
}

.hotline{
    margin-left: 5px;
    color: var(--white-color);
    text-decoration: none;
}

.sub-container{
    margin: auto;
    width: 80%;
    height: 2000px;
    text-align: center;

}

.sub-title{
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 100px;
}

.MsoNormal{
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

